<div class="menu">
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo" href="#"><img src="assets/images/logo.svg" alt="Thumbtack"/> <span>школа</span></a>
    </div>
    <div class="collapse navbar-collapse" id="collapse">
      <ul class="nav navbar-nav">
        {{#if user.isAuth}}
          <li><a href="#user/logout">({{user.userName}}) Logout</a></li>
          <li><a href="#private">Private page</a></li>
        {{else}}
          <li><a href="#user/login">Login</a></li>
          <li><a href="#user/signup">Signup</a></li>
        {{/if}}
      </ul>
    </div>
  </nav>
</div>
