<div>user: test,<br> login: test</div>
<form method="post">
<div class="user-login-form">
  <div class="field field-text">
    <label for="user-login">Login</label>
    <input id="user-login" type="text" name="user_login">
  </div>
  <div class="field field-text">
    <label for="user-password">Password</label>
    <input id="user-password" type="password" name="user_password">
  </div>
  <div class="field field-submit">
    <input type="submit" value="Submit">
  </div>
</div>
</form>


{{#if error}}
  <div class="error">{{error}}</div>
{{/if}}
