<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="{{#if isEmployer}}active{{/if}}"><a data-target=".user-signup-employer" href="#user/signup/employer" aria-controls="employer" role="tab" data-toggle="tab">Работадатель</a></li>
      <li role="presentation" class="{{#if isApplicant}}active{{/if}}"><a data-target=".user-signup-applicant" href="#user/signup/applicant" aria-controls="applicant" role="tab" data-toggle="tab">Соискатель</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
      <div role="tabpanel" class="tab-pane user-signup-employer {{#if isEmployer}}active{{/if}}">
          employer
      </div>
      <div role="tabpanel" class="tab-pane user-signup-applicant {{#if isApplicant}}active{{/if}}">
          applicant
      </div>
  </div>

</div>
